@import 'src/styles.scss';

.card {
    width: 207px;
    //max-width: 200px;
    height: 110px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_head {
        height: 28px;
        display: flex;
        justify-content: space-between;

        &_text {
            color: $color-white;
            font-size: 13px;
        }

        &_img {
            max-width: 50px;
            width: auto;
        }
    }

    &_body {
        height: 25px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        
        &_balance {
            color: $color-white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 2px;
        }

        &_status {
            margin: auto 0;
            width: 15px;
            height: 15px;
            border-radius: 15px;

            &-green {
                background-color: green;
                border: solid 1px rgb(0, 107, 0);
            }

            &-red {
                background-color: rgb(235, 52, 52);
                border: solid 1px rgb(255, 14, 14);
            }

            &-yellow {
                background-color: rgb(245, 199, 72);
                border: solid 1px rgb(255, 189, 8);
            }
        }
    }

    &_data {
        height: 23px;
        display: flex;
        justify-content: space-between;
        color: $color-white;

        &_left {
            font-weight: bold;
            font-size: 14px;
        }

        &_right {
            font-size: 12px;
        }
    }

    &-primary{
        background-color: $color-blue;
        border: solid 1px $color-blue;

        &-opacity {
            background-color: $color-blue;
            border: solid 1px $color-blue;
            opacity: 0.6;
        }
    }

    &-secondary{
        background-color: $color-orange-primary;
        border: solid 1px $color-orange-primary;

        &-opacity {
            background-color: $color-orange-primary;
            border: solid 1px $color-orange-primary;
            opacity: 0.6;
        }
    }

    &-tertiary {
        background-color: #143FFF;
        border: solid 1px #143FFF;
    }

}