@import 'src/styles.scss';

.card {
    width: 207px;
    //max-width: 200px;
    height: 110px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_head {
        height: 28px;
        display: flex;
        justify-content: space-between;

        &_text {
            color: $color-white;
            font-size: 13px;
        }

        &_img {
            max-width: 50px;
            width: auto;
        }
    }

    &_body {
        height: 25px;
        display: flex;
        justify-content: left;
        gap: 5px;
        
        &_balance {
            color: $color-white;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 2px;
        }
    }

    &_data {
        height: 23px;
        display: flex;
        justify-content: space-between;
        color: $color-white;

        &_left {
            font-weight: bold;
            font-size: 14px;
        }

        &_right {
            font-size: 12px;
        }
    }

    &-primary{
        background-color: $color-blue;
        border: solid 1px $color-blue;

        &-opacity {
            background-color: $color-blue;
            border: solid 1px $color-blue;
            opacity: 0.6;
        }
    }

    &-secondary{
        background-color: $color-orange-primary;
        border: solid 1px $color-orange-primary;

        &-opacity {
            background-color: $color-orange-primary;
            border: solid 1px $color-orange-primary;
            opacity: 0.6;
        }
    }

}