<main class="main">
    <div class="content">
        <article class="welcome">
            <section class="welcome_text">
                <h1 class="welcome_text_header">{{welcomeTextHeader}}</h1>
                <p class="welcome_text_body">{{welcomeTextBody}}</p>
            </section>
            <div class="button-container">
                <button class="button-to-login" (click)="clickToLogin()">Войти</button>
                <button class="button-to-register" (click)="clickToRegister()">Регистрация</button>
            </div>
        </article>
    </div>
</main>