<div *ngIf="!loadingCard && !loadingAccount" class="card-conteiner">
    <div class="card-conteiner_top">
        <h2 class="card-conteiner_top_text">Мои карты</h2>
        <a class="card-conteiner_top_routes_route" routerLink="/new-card">Заказать карту</a>
    </div>
    
    <div class="card-conteiner_cards">
        <app-card routerLink="/new-card" [backgroundColor]="cards.length !== 0 ? 'primary-opacity' : 'primary'"></app-card>
        <ng-container *ngFor="let card of cards; trackBy: trackCard">
            <app-card 
                [routerLink]="'/card/' + card.id"
                [imageUrl]="getCardImageUrl(card.cardProgram)"
                [statusColor]="card.state === 'Created' ? 'yellow' : 'green'"
                [dataLeft]="formatCardNumber(card.number)"
                [dataRight]="card.month + '/' + card.year"
            ></app-card>
        </ng-container>
    </div>
</div>

<div *ngIf="!loadingAccount && !loadingCard" class="card-conteiner">
    <div class="card-conteiner_top">
        <h2 class="card-conteiner_top_text">Мои счета</h2>
        <div class="card-conteiner_top_routes">
            <a class="card-conteiner_top_routes_route" routerLink="/refill-account">Пополнить</a>
            <a class="card-conteiner_top_routes_route" routerLink="/new-account">Открыть счет</a>
        </div>
    </div>

    <div class="card-conteiner_cards">
        <app-card routerLink="/new-account" [dataLeft]="'Открыть'" [backgroundColor]="accounts.length !== 0 ? 'secondary-opacity' : 'secondary'"></app-card>
        <ng-container *ngFor="let account of accounts; trackBy: trackAccount">
            <app-card 
                [routerLink]="'/account/' + account.id"
                [imageUrl]="''"
                [dataHead]="account.name"
                [dataBalance]="account.balance | balance : account.currency"
                [statusColor]="account.state === 'Active' ? 'green' : 'red'"
                [dataLeft]="account.number"
                [backgroundColor]="'secondary'"
            ></app-card>
        </ng-container>
    </div>
</div>
<mat-spinner *ngIf="loadingCard || loadingAccount" class="mat-spinner"></mat-spinner>