<div class="card-conteiner">
    <div class="card-conteiner_top">
        <h2 class="card-conteiner_top_text" style="font-weight:100;">{{ titleText }}</h2>
        <h2 class="card-conteiner_top_bold">{{ typeProduct }}</h2>
    </div>

    <div class="card-conteiner_cards">
        <div class="card-conteiner_cards_inside">
            <p class="card-conteiner_cards_inside_title">Операция завершена</p>
            <p class="card-conteiner_cards_inside_data">{{ typeProduct }}</p>
            <button routerLink="/home" class="card-conteiner_cards_inside_button">Вернуться на главную</button>
        </div>
    </div>

</div>
